
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(background-img.png);
    background-size: cover;
 }
 
 .wrapper{
    width: 85%;
    height: 95%;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
 }
 
 .img-box{
    background: linear-gradient(
       90deg,
       rgba(131,58,180,1),
       rgba(253,29,29,1),
       rgba(252,176,69,1)
    );
    flex-basis: 50%;
 }
 
 .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
 }
 
 form{
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    /* padding: 40px 100px; */
    padding: 80px 100px;
 }
 
 form h1{
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 30px;
    position: relative;
 }
 
 form h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 5px;
    border-radius: 30px;
    background-color: #ff316f;
 }
 
 form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 30px;
    outline: none;
 }
 
 form input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
    cursor: pointer;
 }
 
 form input[type="button"]{
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #ff316f;
 }
 
 form input[type="button"]:hover{
    background-color: #f41e5e;
 }
 
 .social-icons{
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
 }
 
 .social-icons i{
    padding: 12px;
    margin: 5px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #55637c;
    color: #fff;
 }
 
 .social-icons i:nth-child(2){
    padding: 12px 15px;
    background-color: #ff316f;
 }
 
 .social-icons i:nth-child(4){
    padding: 12px 13px;
 }
 
 .social-icons i:hover{
    background-color: #ff316f;
 }
 
 form a{
    color: #ff316f;
    text-decoration: none;
 }
 




 /* ----------- now making it responsive using media query -------------- */
 
 @media only screen and (max-width: 1050px){
  body{
     height: 100%;
  }

  .wrapper{
     flex-direction: column;
     gap: 0;
     width: 100%;
  }
}

@media only screen and (max-width: 500px){
  form{
     padding: 50px;
  }
}