
body{
    height: 100vh;
    font-size: smaller;
    font-family:"Famous Footwear Sans",sans-serif;

}

h2{
    background-color: tomato;
    text-align: center;
    line-height: 1.3076923077;
    letter-spacing: .03625rem;
    font-size: 1.625rem;
    font-family: "Famous Footwear Sans",sans-serif;
    font-size: medium;
}
p{
    background-color: aqua;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Famous Footwear Sans",sans-serif;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    color:  rgb(54, 49, 49);
    font-size: smaller;
}

img{
    width: 100%;
}


.register-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 20px;
    width: 80%;
    margin: auto;
    justify-content: center;
    border:2px dotted black
}

.form-container{
    border: 2px solid red;
}
.imgdiv{
    border: 2px solid rgba(0, 255, 98, 0.552);
}
label,input{
    /* background-color: pink; */
    display: block;
    display: flex;
    margin-left: 10px;
}
label{
    color: rgb(54, 49, 49);
}

.input-fields{
    margin: 10px;
    text-decoration: none;
    
}

#submit-id{
    margin-left: 10px;
}



