*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}

.stars{
    color:var(--orange);
    font-size: 1rem;
    color: orange;
    text-align: center;
}


#head{
    min-height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#nav-search{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;         
    font-size: 20px;
}
#nav-search h1{
    padding-right: 20px;
    cursor: pointer;
}
#nav-search img{
    padding-top: 1px;
    width: 50px;
    /* border-radius: 50%; */
}

#nav-input{
    width:600px;
    font-size: 15px;
}
#nav-input-submit{
    padding-left: 10px;
    font-size: 15px;
}
#nav-links{
    flex: 1;
    text-align: right;
    box-sizing: border-box;
}
#nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
#nav-links ul li a{   
    text-decoration: none;
    font-size: 14px;
    color:rgb(255, 47, 241)
}

#nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#nav-links ul li:hover::after{
    width:100%;
}

#nav-links .fa{
    margin-right: 5px;
}

#nav1-links{
    flex: 1;
    width:100%;
    text-align: center;  
    box-sizing: border-box;
}
#nav1-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    justify-content: space-evenly;
}
#nav1-links ul li a{
    color: blue;
    text-decoration: none;
    font-size: 15px;
    
}
#nav1-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#nav1-links ul li:hover::after{
    width: 100%;
}

/* drop down menu bars */
.shoe-menu{
    display: none;   
}
#nav1-links ul li:hover .shoe-menu{
    display: block;
    position: absolute;
    background: white;
    margin-top: 15px;
    margin-left: -15px;
}
#nav1-links ul li:hover .shoe-menu ul{
    display: block;
    margin: 10px; 
}
#nav1-links ul li:hover .shoe-menu ul li{
    width:300px; 
    padding: 10px;
    border-bottom: 1px double red;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
#nav1-links ul li:hover .shoe-menu ul li:last-child{
    border-bottom: none;  
}
#nav1-links ul li:hover .shoe-menu ul li::after{
    background: none;
}
#nav1-links ul li:hover .shoe-menu ul li a:hover{
    color: green;
}
.fa-angle-right{
    float: right;
    width:1px;
}

.shoe-menu-2{
    display: none;
}
.hover-me:hover .shoe-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 320px;
    background: white;
}

h1{
    margin: auto;
    text-align: center;
    color: darkgoldenrod;
    
}

/* footer page  */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c , #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
  }
  footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .col{
    flex-basis: 25%;
    padding: 10px;
  }
  footer .col:nth-child(2) , .col:nth-child(3){
    flex-basis: 15%;
  }
  footer .logo{
    width:80px;
    margin-bottom: 30px;
  }
  footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  footer ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  footer ul li a{
    text-decoration: none;
    color: white;
  }
  footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  footer form .far{
    font-size: 18px;
    margin-right: 10px;
  }
  footer form input{
    width:100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  }
  footer form button{
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
  }
  footer form button .fas{
    font-size: 16px;
    color: #ccc;
  }
  footer .social-icons .fab{
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
  }
  footer .social-icons .fab:hover{
    background-color: greenyellow;
  }
  footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  footer .copyrights{
    text-align: center;
  }
  footer .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  footer .underline span{
    width: 15px;
    height: 100%;
    background:#fff;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  @keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
  }
/* Container */
#container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.card{
    background-color: rgb(167, 240, 215);
    width: 30%;
    margin: auto;
    margin: 0px 10px;
}
.card .body{
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}
.card .remove,.btn{
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.card .remove:hover,.btn:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
.card .remove{
    margin: 5px;
}
.card img{
    width: 100%;
}
